<link rel="stylesheet" href="/assets/static_pages.scss"/>   
<article class="aboutcon">
  <h1 class="t_nav"><span>生活不止眼前的苟且，还有诗和远方</h1>
    <div class="about">
      <h2>Just about me</h2>
    </div>
    <aside class="right">  
      <div class="about_c">
        <p>姓名：詹星星 </p>
        <p>生日：10-23</p>
        <p>籍贯：河南省—洛阳市</p>
        <p>现居：上海</p>
        <p>githup:<a href=https://github.com/Jenniferzhan>"https://github.com/Jenniferzhan" </a></p>
        <P>自我评价：<br>
        大写地热爱互联网行业，立志成为一名出色的IT女，<br>
        喜欢天马行空的幻想，希望能成为一个“有意思的”人,<br>
        爱生活，爱美食，拒绝成为一名胖子，<br>
        爱文字，爱小说，拒绝傻白甜玛丽苏文，<br>
        爱追星，爱欧巴，但绝不脑残，</p>
      </div>


