<link rel="stylesheet" href="/assets/static_pages.scss"/>
<article class="blogs">
  <h1 class="t_nav"><span> &nbsp;&nbsp;&nbsp;&nbsp;We rush through our days, almost in a single frenetic anxiety-filled non-stop movement. Instead, slow down. Life won’t collapse if you aren’t rushing from task to task, email to email. You can pause, take a moment to reflect, smile, enjoy the current task before moving on.</span>
  <div class="newblog left">
    <h2>好书推荐之解忧杂货店</h2>
    <p class="dateview"><span>发布时间：2016-10-02</span>
    <figure><img src="/assets/book1.jpg"></figure>
    <ul class="nlist">
      <p> 解忧杂货店 （奇幻温情小说） 编辑
          《解忧杂货店》是日本作家东野圭吾写作的奇幻温情小说。2011年于《小说野性时代》连载，于2012年3月由角川书店发行单行本。
          该书讲述了在僻静街道旁的一家杂货店，只要写下烦恼投进店前门卷帘门的投信口，第二天就会在店后的牛奶箱里得到回答：因男友身患绝症，年轻女孩月兔
          在爱情与梦想间徘徊；松冈克郎为了音乐梦想离家漂泊，却在现实中寸步难行；少年浩介面临家庭巨变，挣扎在亲情与未来的迷茫中……他们将困惑写成信投进杂货
          店，奇妙的事情随即不断发生。</p>
      <a title="/" href="/" target="_blank" class="readmore">详细信息>></a>
    </ul>
    <div class="line"></div>
