<form action="articles" id="articles_search">
  <input type="text" name="search" value="<%= params[:search] %>" id="exampleInputAmount" placeholder="article_title">
  <button type="submit">Search</button> 
</form>

<script>
$("#articles_search input").keyup(function() {
    $.get($("#articles_search").attr("action"), $("#articles_search").serialize(), null, "script");
    return false;                  
    }); 
</script>

