<link rel="stylesheet" href="/assets/articles.scss"/>
<div class ="t_nav"><span>路漫漫其修远兮，吾将上下而求索.</span></div>
<div class ="newblog">
<h1> 文章列表:</h1>
<%= render "search_form" %>
<div id="articles">
  <%= render "articles" %>
</div>

