<link rel="stylesheet" href="/assets/articles.scss"/>
<div id ="myarticle">
  <table>
    <thead>
      <tr>
        <p> 文章列表:</p>
        <th colspan="19"></th>
      </tr>
    </thead>

    <tbody>
    <% @articles.each do |article| %>
      <tr>
      <td colspan="5"></td>
      <td><p><%=article.title %></P>
      <%= truncate (strip_tags article.text.html_safe), length:300 %>
      <%=link_to "查看全文", [article.category, article], method: :get %>
    </td>
  </div>  
    </tr>

  <% end %>
    </tbody>
  </div>
</table>

<br>
