<link rel="stylesheet" href="/assets/posts.scss"/>
<div class="newblog">
  <h1 class="t_nav"><span>The outer world you see is a reflection of your inner self.</h1>
    <h1>随笔</h1>
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
    <ul class="nlist">
      <p><%= truncate (strip_tags post.content.html_safe), length:200 %>
    <h3><div class="readmore"> <%=link_to "查看全文",  post_path(post), method: :get %></div></h3> 
      <div class="line"></div>
    <% end %>
    </div>
  </div>


