<link rel="stylesheet" href="/assets/posts.scss"/>
  <h1 class="t_nav"><span>你看到什么样的世界，你就拥有什么样的内心</h1>
<div class="newblog">
    <h1>随笔</h1>
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <li><p><%= truncate (strip_tags post.content.html_safe), length:200 %>
    <h3><div class="readmore"> <%=link_to "查看全文",  post_path(post), method: :get %></div></h3> 
    <div class="line"></div></li>
    <% end %>
    </div>
  </div>


