// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.t_nav { 
  border-bottom: #F1F1F1 1px solid; 
  margin-top:-80px;
  margin-left:0px;
  font-size:1.5em; 
  font-weight: normal; 
  line-height: 40px; 
height: 40px; }

h1.t_nav span{
  font-size:1.5em;
  margin-top:-90px;
  margin-left:100px;
  float:right; 
color:green;}

.newblog { 
  font-size:1.2em;
  width: 1025px; 
  overflow: hidden; 
margin-top: -200px; }

.newblog h1 { 
  color: #333;
margin-left:20px;}

.newblog h2 { 
  color: #333; 
  font-size: 16px; 
  margin-left:100px;
clear:both}

.newblog p{
  font-size:1em;
line-height: 1.9;}

h3.readmore { 
  background: #f90; 
  color: #fff; 
  padding: 5px 10px; 
  float: right; 
margin: 20px 0 0 0 }

.line { 
  overflow: hidden; 
  width: 97%; 
  height: 20px; 
  border-bottom: 3px dashed #ccc;
color:green; }

.show{margin-left:300px;
  margin-top:-100px;
color:green;}

.p{color:green;}
nav { float: right; width: 100%; margin: -800px 0 30px 0; text-align: right }


#Content-Main{
  height:400px;
  width:720px;
  margin:-100px;/*设置元素跟其他元素的距离为20像素*/
  margin-left:250px;
}

#Content-Main.p{color:black}

