// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav { float: right; width: 100%; margin: -800px 0 30px 0; text-align: right }
nav li { position: relative; display: inline-block; font-size: 18px; font-family: "Î¢ÈíÑÅºÚ", Arial, Helvetica, sans-serif; }
nav li:hover { text-decoration: none }
.topnav li { margin: 0 5px; padding: 0 8px; }
.topnav li span:first-child { z-index: 2; display: block; }
.topnav li span:last-child { z-index: 1; display: block; color: #999; font: 12px Georgia, serif; opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); text-align: center }
.topnav li:hover span:last-child, .topnav a:focus span:last-child { opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); transform: translateY(0%); }

#category
h1{
margin-top:0em;color:black;font-size: 14px;}
td{ color:black;}

#show {margin-top:-100px;}
#show p{
  margin-top: -90px;
  margin-left: 220px;
}
#show h2{
margin-left: 220px;}
#show h3{
margin-left: 220px;}
