<link rel="stylesheet" href="/assets/categories.css"/>

<div id= category>
  <h1>文章分类</h1></div>

<table>
  <thead>
      <% Category.all.each do |category| %>
        <tr>
        <td><%= link_to category.name, articles_path(category_id: category["id"]) %></td>
      </tr>
    <% end %>
  </thead>

  <tbody>
 </tbody>
</table>

<br>
 </div>

